{% extends "mail/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}

{% block body %}
    <h2 id="email-user">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
{% endblock %}